* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::selection {
  color: white;
  background-color: blue;
}

html {
  font-size: 10px;
}

a {
  z-index: 2;
  text-decoration: none;
}

.brand h1 {
  font-size: 2.2rem;
  color: white;
}

.brand h1 span {
  font-size: 2.2rem;
  color: blue;
}

/* Header section */
#header {
  background-color: rgb(221, 205, 150);
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

#header .header {
  min-height: 8vh;
  transition: 0.3s ease background-color;
}

#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 98%;
  padding: 0 30px;
}

.brand h1 {
  color: black;
}

#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: grey;
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.3s ease-in-out;
}

#header .nav-list ul.active {
  left: 0%;
}

#header .nav-list ul a {
  font-size: 3rem;
  font-weight: 500;
  text-decoration: none;
  color: black;
  padding: 20px 15px;
  display: block;
}

#header .nav-list ul a:hover {
  color: rgb(255, 166, 0);
}

#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 13rem;
  letter-spacing: 50px;
  z-index: -1;
}

#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}

#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid blue;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}

#header .hamburger:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid blue;
  animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: blue;
  z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: blue;
  transition: 0.3s ease;
  transition-property: top, bottom;
}

#header .hamburger .bar::after {
  top: 8px;
}

#header .hamburger .bar::before {
  bottom: 8px;
}

#header .hamburger.active .bar::before {
  bottom: 0;
}

#header .hamburger.active .bar::after {
  top: 0;
}

/* End Header section */

@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

@media only screen and (min-width: 1200px) {
  #header .hamburger {
    display: none;
  }

  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }

  #header .nav-list ul li {
    display: inline-block;
  }

  #header .nav-list ul li a {
    font-size: 1.5rem;
  }

  #header .nav-list ul a:after {
    display: none;
  }
}

/* End header */

/* hero section starts*/
.home {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
  background-image: url("assets/marble.jpg");
  background-size: cover;
  background-position: center;
  padding: 0 5%;
  margin-top: -2%;
}

.home #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.home .content {
  flex: 1 1 40rem;
  padding-top: 2rem;
  z-index: 1;
}

.home .image {
  flex: 1 1 40rem;
  z-index: 1;
}

.home .image img {
  scale: 0.8;
  width: 55%;
  margin-top: -2rem;
  margin-left: 35rem;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s;
}

.home .image img:hover {
  scale: 0.9;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.home .content h2 {
  font-size: 6rem;
  font-weight: 600;
  color: black;
}

.home .content p {
  font-size: 4.5rem;
  color: #000;
  font-weight: 600;
  padding: 1rem 0;
}

.home .content p span {
  color: rgb(255, 166, 0);
  font-weight: 600;
}

.home .btn {
  margin-top: 6rem;
  position: absolute;
  line-height: 0;
  padding: 1.6rem 3rem;
  border-radius: 4em;
  transition: 0.5s;
  color: #fff;
  background: plum;
  box-shadow: 0px 5px 18px rgba(48, 68, 247, 0.6);
  font-family: "Nunito", sans-serif;
}

.home .btn span {
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}

.home .btn i {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  transition: 0.3s;
}

.home .btn:hover {
  background: white;
  color: blue;
  border: 1px solid blue;
}

.home .btn:hover i {
  transform: translateX(5px);
}

/* social icons start */
.socials {
  position: relative;
  margin-top: 9rem;
}

.socials .social-icons {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 15rem;
  list-style: none;
}

.socials .social-icons li {
  display: inline-block;
  margin-bottom: 14px;
}

.social-icons a {
  font-size: 3rem;
  display: inline-block;
  line-height: 44px;
  color: #00d9ff;
  background-color: #09011b;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #0685da;
}

.social-icons a.github:hover {
  background-color: #0e0e0e;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.dev:hover {
  background-color: #070707;
}

.social-icons a.instagram:hover {
  background-color: #ee00da;
}

/* social icons end */
/* hero media queries starts*/
@media (max-width: 450px) {
  .home {
    padding: 30% 5% 0 8%;
    height: 70vh;
  }

  .home .btn {
    margin: 4rem 0;
  }

  .socials {
    margin-top: 12rem;
  }

  .home .image img {
    scale: 0;
    margin-left: 1%;
    margin-top: 0rem;
  }

  .home .content p {
    font-size: 2.2rem;
  }

  .home .content p span {
    font-size: 2.2rem;
  }
}

/* hero media queries ends*/
/* hero section end */

/* about section starts */
.about {
  background-image: url("assets/marble.jpg");
}
.about .heading {
  font-size: 4rem;
  padding-top: 3rem;
  text-align: center;
}

.about h2 span {
  color: #ee00da;
}

.about .row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 4rem;
}

.about .row .image {
  text-align: center;
  flex: 1 1 35rem;
}

.about .row .image img {
  margin: 4rem;
  width: 35rem;
  height: auto;
  border-radius: 5%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  mix-blend-mode: luminosity;
  transition: all 0.2s;
  cursor: pointer;
}

.about .row .image img:hover {
  scale: 1.3;
}

.about .row .content {
  flex: 1 1 45rem;
  padding: 3rem;
}

.about .row .content h3 {
  color: black;
  font-size: 2.5rem;
}

.about .row .content .tag {
  font-size: 1.8rem;
  color: black;
  font-weight: 600;
  margin-top: 1rem;
}

.about .row .content p {
  font-size: 2rem;
  margin-top: 1.5rem;
  font-family: "Nunito";
  font-weight: 600;
  text-transform: none;
}

.about .row .content .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  font-family: "Nunito";
  font-weight: 600;
}

.about .row .content .box-container .box p {
  text-transform: none;
}

.about .row .content .box-container .box p span {
  color: #011aff;
}

.resumebtn {
  margin-top: 6rem;
}

.resumebtn .btn {
  padding: 1.7rem 3rem;
  border-radius: 0.5em;
  transition: 0.3s;
  color: #fff;
  background: rgb(166, 0, 255);
  font-family: "Nunito", sans-serif;
}

.resumebtn .btn span {
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}

.resumebtn .btn i {
  margin-left: 0.3rem;
  font-size: 1.2rem;
  transition: 0.3s;
}

.resumebtn .btn:hover {
  background: white;
  border: px solid blue;
  color: blue;
  box-shadow: 0px 5px 10px rgba(73, 23, 255, 0.6);
}

.resumebtn .btn:hover i {
  transform: translateX(5px);
}

/* about media queries starts*/
@media screen and (max-width: 600px) {
  .about .row .image {
    margin-top: 2rem;
  }

  .about .row .image img {
    margin: 0 auto;
    width: 80%;
    mix-blend-mode: normal;
  }

  .about .row {
    padding: 0.5rem;
    margin-bottom: 7rem;
  }

  .about .row .content {
    padding: 1rem;
  }

  .about .row .content .box-container {
    gap: 0;
  }
}

/* about media queries ends*/
/* about section ends */

/* education section starts */
.education {
  background-color: white;
  min-height: 85vh;
  background-position: center;
  background-size: cover;
}

.education h1 span {
  color: rgb(202, 10, 202);
}

.education .heading {
  font-size: 4rem;
  padding-top: 3rem;
  text-align: center;
}

.education .box-container {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.education .box-container .box {
  display: flex;
  flex-direction: row;
  width: 80%;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  margin-top: 5rem;
  overflow: hidden;
  transition: 0.3s;
  background-color: grey;
}

.education .box-container .box:hover {
  transform: scale(1.03);
  box-shadow: 1rem 0.5rem 1.2rem rgba(0, 0, 0, 0.3);
}

.education .box-container .box .image {
  flex: 1 1 20rem;
  width: 100%;
  height: 150px;
}

.education .box-container .box img {
  object-fit: cover;
  position: relative;
  width: 70%;
  height: 100%;
}

.education .box-container .box .content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-wrap: wrap;
  flex: 1 1 70rem;
}

.education .box-container .box .content h3 {
  font-size: 3rem;
  color: white;
  padding: 0.5rem 0;
  font-weight: 600;
  text-align: left;
  margin-left: 1rem;
}

.education .box-container .box .content p {
  font-size: 2rem;
  margin-left: 1rem;
  text-align: left;
}

.education h4 {
  font-size: 1.5rem;
  color: black;
  text-align: left;
  margin: 1rem;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

/* education media queries starts*/
@media screen and (max-width: 600px) {
  .education .box-container .box {
    flex-direction: column;
    width: 100%;
  }

  .education .box-container .box .image {
    width: 100%;
    height: 25rem;
  }

  .education box-container .box img {
    width: 100%;
  }

  .education .box-container .box .content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-wrap: wrap;
    flex: 0;
  }

  .education .btns {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    flex-wrap: wrap;
  }
}

/* education media queries ends*/
/* education section ends */

/*skills section starts*/
.skills {
  background: white;
  height: 80vh;
}

.skills h2 {
  font-size: 4rem;
  padding-top: 3rem;
  text-align: center;
}

.skills img {
  margin: 50px;
  height: 20%;
  width: 6%;
  margin-left: 12%;
  border-radius: 10%;
  justify-items: center;
}

.hover-effect {
  transition: transform 0.3s;
}

.hover-effect:hover {
  transform: scale(1.2);
  filter: grayscale(0);
}

/*media queries for skills section*/
@media screen and (max-width: 600px) {
  .skills{
    height: 110vh;
  }
  .skills img {
    scale: 1.1;
  }
}

/*media queries ends*/
/*skills section ends*/

/*project section starts*/
.project {
  color: black;
  width: 100%;
  justify-content: center;
  text-align: center;
  margin-top: 70px;
  font-size: 24px;
  padding: 2rem;
  background-color: rgba(188, 146, 233, 0.867);
}

.project h2 span {
  color: yellow;
}

.box1div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  align-items: center;
  padding: 2%;
}

.work {
  position: relative;
  margin-top: 10%;
  align-items: center;
  overflow: hidden;
}

.work img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.layer {
  width: 100%;
  height: 0%;
  background: linear-gradient(rgba(241, 233, 233, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 18px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-top: 20px;
}

.layer a {
  margin-top: 10px;
  color: #ff004f;
  font-size: 1rem;
  line-height: 30px;
  background: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.2);
}

.work:hover .layer {
  height: 100%;
}

/*project section ends*/

/* footer section starts */
.footer {
  min-height: auto;
  padding-top: 0;
  background-color: rgb(221, 205, 150);
}

.footer .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -1rem;
}

.footer .box-container .box {
  flex: 1 1 25rem;
  margin: 2rem;
}

.footer .box-container .box h3 {
  font-size: 1.5rem;
  font-weight: 100;
  color: black;
  font-weight: normal;
}

@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}

@keyframes pound {
  to {
    transform: scale(1.1);
  }
}

@media (max-width: 450px) {
  .footer .box-container .box {
    margin: 1.5rem;
  }

  .footer .box-container .box p {
    padding: 0.7rem;
  }

  .footer .box-container .box .share a {
    padding: 1.2rem;
  }
}

/* footer section ends */

/* experience section starts*/
.experience {
  min-height: 60vh;
 
}

.experience h1 {
  margin-top: 2rem;
  padding: 2rem 0;
  font-size: 4rem;
  text-align: center;
}

.experience h3 {
  font-size: 3rem;
  color: #020133;
  padding-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 3rem;
  margin-right: 1rem;
  text-align: center;
}

.experience ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  list-style: disc outside none;
  display: list-item;
  font-size: 22px;
  margin-top: 3rem;
  margin-right: 1rem;
  margin-left: 20%;
  padding-bottom: 2rem;
}

.contactus {
  height: 75vh;
  background-size: cover;
  background-image: url("assets/marble.jpg");

}

.contactus h2 {
  text-align: center;
  padding: 2rem 0;
  font-size: 3rem;
}

.contactus h2 span {
  color: plum;
}
#contact-left{
  margin-top: 5rem;
}
#contact-left p {
  font-size: 18px;
  
}

#contact-left p i {
  font-size: 2rem;
  color: #ff004f;
  margin-left: 8rem;
  margin-top: 2rem;
  
}
.btn2 {
    display: inline-block;
    font-size: 15px;
    margin-top: 5rem;
    margin-left: 8rem;
    text-decoration: none;
    color: white;
    background: red;
    font-size: 20px;
    padding: 1rem;
}

#contact-right {
  width: 50%;
  margin-left: 46%;
  margin-top: -16rem;
}

form input,
form textarea {
  background: #2626264f;
  margin-left: 50px;
  width: 100%;
  border: 0;
  outline: none;
  padding: 15px;
  margin: 5px 0;
  font-size: 18px;
  border-radius: 6px;
}

#contact-right button {
  display: inline-block;
  background: #ff004f;
  padding: 2%;
  color: white;
  margin-top: 2rem;
  width: 15%;
  border-radius: 20px;
  font-size: 20px;
  margin-bottom: 2rem;
}

#contact-right button:hover {
  color: black;
  background: white;
}

#msg{
  color: black;
  font-size: 20px;
  margin-left: 70rem;
  display: block;
  margin-top: 20px;
}
@media screen and (max-width: 600px) {
  .contactus {
    height: 100vh;
  }
  #contact-right {
    width: 80%;
    margin: 5% 10%;
  }

  #contact-right button {
    width: 25%;
  }
}
